<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        <h1>게시글 상세</h1>

        제목: <span th:text="${boardData.articleDto.title}"></span><br>
        작성자: <span th:text="${boardData.userDto.nickname}"></span><br>
        작성일: <span th:text="${#dates.format(boardData.articleDto.created_at, 'yyyy.MM.dd')}"></span><br>
        조회수: <span th:text="${boardData.articleDto.read_count}"></span><br>

        <br>
        내용: <div th:text="${boardData.articleDto.content}"></div>

        <br><br>
        <a href="./mainPage">목록으로</a>

        <th:block th:if="${session.sessionUserInfo != null and session.sessionUserInfo.id == boardData.articleDto.user_id}">
            <a th:href="@{./updateArticlePage(id=${boardData.articleDto.id})}">수정</a>
            <a th:href="@{./deleteArticleProcess(id=${boardData.articleDto.id})}">삭제</a>
        </th:block>


    </body>
</html>