<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        <h1>글쓰기</h1>

        <form action="./writeArticleProcess" method="post">
            닉네임: <span th:text="${session.sessionUserInfo.nickname}"></span><br>
            제목: <input name="title" type="text"><br>
            내용: <br>
            <textarea name="content" rows="10" cols="30"></textarea>
            <br>
            <button>글쓰기</button>
        </form>


    </body>
</html>