<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ja.finalproject.board.mapper.BoardSqlMapper">

    <insert id="createArticle">
        insert into fp_freeboard_article(
            user_id, title, content, read_count
        ) values(
            #{user_id}, #{title}, #{content}, 0
        )
    </insert>

    <select id="findArticleAll" resultType="com.ja.finalproject.dto.ArticleDto">
        select * 
        from fp_freeboard_article
        order by id desc
    </select>

    <select id="findArticleById" resultType="com.ja.finalproject.dto.ArticleDto">
        select * from fp_freeboard_article where id = #{id}
    </select>

    <update id="increaseReadCount">
        update fp_freeboard_article 
        set read_count = read_count + 1
        where id = #{id}
    </update>

    <delete id="deleteArticleById">
        delete from fp_freeboard_article where id = #{id}
    </delete>

    <update id="updateArticle">
        update fp_freeboard_article
        set 
            title = #{title},
            content = #{content}
        where id = #{id}
    </update>

</mapper>